html {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}
p{
    line-height: 1.5em;
}
.section-wrapper{
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 3em;
    margin-bottom: 3em;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 900px) 1fr;
}

section{
    grid-column: 2 / 2;
}

button{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;

    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button:hover{
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.display-1 {
    font-size: 5em;
    font-weight: 100;
    text-shadow: 0px 0px 8px rgba(0,0,0,.2);
    margin: 0;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.display-2 {
    font-size: 2em;
    font-weight: 100;
    margin: 0;
    grid-column: 2 / 3;
    grid-row: 3 / 4
}
#hero button{
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    justify-self: center;
    width: 180px;
}

#hero {
    color: #fff;
    height: 80vh;
    width: 100vw;
    background-image: linear-gradient(-45deg, rgba(1, 82, 255, 0.37), rgba(13, 147, 209, 0.2)), url("assets/IMG_4347_tiny.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    
    display: grid;
    text-align: center;
    grid-template-columns: minmax(5vw, 1fr) auto minmax(5vw, 1fr);
    grid-template-rows: 1fr auto auto auto 1fr;
    grid-row-gap: 1em;
}

.headline{
    display: grid;
    justify-items: center;
    font-size: 2.4em;
    font-weight: 200;
    /* margin-bottom: 0em; */
}

.subheadline{
    text-align: center;
    margin: 0;
}

.auto-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    justify-items: center;
    align-items: center;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
}

#benefits h2{
    margin-bottom: .3em;
}

#benefits ul{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
    color: #353535;
    font-size: 1.1em;
}

#benefits img{
    width: 100%;
    grid-column: 2/2;
}

#testimony ul{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
    color: #353535;
    font-size: 1.1em;
    font-style: italic;
}

#problem img{
    width: 100%;
    height: auto;
    -webkit-clip-path: polygon(42% 8.31%, 71.9% 8.77%, 95.27% 40.92%, 84% 94.74%, 8.33% 93%, 21% 32.14%);
    clip-path: polygon(42% 8.31%, 71.9% 8.77%, 95.27% 40.92%, 84% 94.74%, 8.33% 93%, 21% 32.14%);
    shape-outside: polygon(43.27% -0.63%, 75.71% 2.69%, 100.47% 38.06%, 93.62% 99.39%, 8.35% 99.43%, 19.91% 32.14%);
}

.cta{
    margin: 3em 0;
    text-align: center;
}

footer{
    height: 50px;
    background-color: black;
    color: #fff;
    font-size: .7em;
    text-align: center;
}

footer p{
    padding-top: 18px;
}

@media (max-width: 550px){
    .display-1{
        font-size: 3em;
    }
    .display-2{
        font-size: 1.8em;
    }
}
@media (min-width: 551px){
    #benefits ul{
        grid-template-columns: 1fr 1fr;
    }

    #testimony ul{
        grid-template-columns: 1fr 1fr;

    }

    #problem .auto-grid{
        display: inline;
        /* grid-template-columns: auto;
        grid-template-rows: auto; */
    }
    #problem .copy{
        padding-top: 2em;
    }
    #problem img{
        width: 300px;
        height: auto;
        float: left;
        align-self: top;
    }
}