html {
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}
p{
    line-height: 1.5em;
}
.section-wrapper{
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 3em;
    padding-bottom: 3em;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 900px) 1fr;
}

section{
    grid-column: 2 / 2;
}

.button{
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;

    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.button-link{
    text-decoration: none;
    color: #007bff;
    
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.button:hover{
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.display-1 {
    font-size: 5em;
    font-weight: 700;
    text-shadow: 0px 0px 8px rgba(0,0,0,.2);
    margin: 0;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.display-2 {
    line-height: 1.2em;
    font-size: 1.2em;
    font-weight: 100;
    margin: 0;
    grid-column: 2 / 3;
    grid-row: 3 / 4
}
#hero .button{
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    justify-self: center;
    width: 180px;
}

#hero-wrapper{
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
}
#hero-wrapper > video{
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

#hero {
    position: relative;
    z-index: 1;
    color: #fff;
    height: 80vh;
    width: 100vw;
    /* background-image: linear-gradient(-45deg, rgba(1, 82, 255, 0.37), rgba(13, 147, 209, 0.2)), url("assets/IMG_4347_tiny.JPG"); */
    background-image: linear-gradient(-45deg, rgba(1, 82, 255, 0.37), rgba(13, 147, 209, 0.2));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: black; */
    
    display: grid;
    text-align: center;
    grid-template-columns: minmax(5vw, 1fr) auto minmax(5vw, 1fr);
    grid-template-rows: 1fr auto auto auto 1fr;
    grid-row-gap: 1em;
}


.headline{
    display: grid;
    justify-items: center;
    font-size: 2.4em;
    font-weight: 200;
    /* margin-bottom: 0em; */
}

.subheadline{
    text-align: center;
    margin: 0;
}

.auto-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    justify-items: center;
    align-items: center;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
}

#benefits{
    background-color: white;
}

#benefits h2{
    margin-bottom: .3em;
}
#benefits img{
    max-width: 500px;
    justify-self: center;
}

#benefits ul{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
    color: #353535;
    font-size: 1.1em;
}

#benefits img{
    width: 100%;
    grid-column: 2/2;
}

#testimony ul{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
    color: #353535;
    font-size: 1.1em;
    font-style: italic;
}
#problem{
    margin-top: 80vh;
    background-color:white;
}
#problem img{
    width: 100%;
    height: auto;
    -webkit-clip-path: circle(45%);
    clip-path: circle(45%);
    shape-outside: circle(50%);
}

.cta{
    text-align: center;
}

.card {
    max-width: 350px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;

    padding: 1em;
    margin: 1em 0em;
}

.card__image {
    width: 100%;
}

footer{
    height: auto;
    background-color: black;
    color: #fff;
    font-size: .7em;
    text-align: center;
}

footer p{
    /* padding-top: 18px; */
}
footer a {
    color: #fff;
    margin-block-start: 1em;
    margin-block-end: 1em;
}
@media (max-width: 550px){
    .display-1{
        font-size: 3em;
    }
    .display-2{
        font-size: 1em;
    }
}
@media (min-width: 551px){
    #benefits ul{
        grid-template-columns: 1fr 1fr;
    }

    #testimony ul{
        grid-template-columns: 1fr 1fr;

    }

    #problem .auto-grid{
        display: inline;
        /* grid-template-columns: auto;
        grid-template-rows: auto; */
    }
    #problem .copy{
        padding-top: 2em;
    }
    #problem img{
        width: 300px;
        height: auto;
        float: left;
        align-self: top;
    }
    .card{
        margin: 1em;
    }
}